{% include 'html/header.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/blog.css' %}?v=1.7">
<body>
  
  <div class="content-a">
  
  <h2 style = "text-align: center; font-family: cursive; background-color: rgba(48, 77, 155, 0.597); ">Olympic Blog</h2>

  <div class="container-a">
    <div class="image-section">
      {% load static%}
      <img src="{% static 'images/effort.jpg' %}" alt="group" class="img1">
    <p style = "margin-top: 5px;">Cost Overruns: One common concern with hosting the Olympics is the tendency for costs to exceed initial projections. Several past Olympic Games have experienced significant cost overruns, leading to financial challenges for the host cities and countries. Factors contributing to these overruns include construction delays, increased security expenses, and infrastructure upgrades.</p>
    </div>
    <div class="text-section">
      <h2 style = "text-align: center; font-family: cursive;">Cost of hosting Olympics</h2>
      <p style = "margin-top: 5px;">Hosting the Olympic Games can be an expensive endeavor for the host city and country. The costs associated with hosting include building or renovating sports facilities, constructing Olympic villages, improving transportation infrastructure, enhancing security measures, and organizing cultural events. These expenses can add up significantly, often running into billions of dollars.</p>
      <p style = "margin-top: 5px;">Due to these concerns, potential host cities have become more cautious, and there have been instances of cities withdrawing their bids or facing public opposition to hosting the games. For instance, in 2021, Calgary, Canada, voted against bidding for the 2026 Winter Olympics after concerns were raised about the potential financial risks.</p>
      <p style = "margin-top: 5px;">In recent years, there has been growing concern and debate over the financial implications of hosting the Olympics. Some critics argue that the cost of hosting outweighs the long-term benefits and can result in economic burdens for the host city. They point to examples like the 2014 Winter Olympics in Sochi, Russia, and the 2016 Summer Olympics in Rio de Janeiro, Brazil, where the costs exceeded initial estimates and left behind underutilized or abandoned facilities.</p>
        
    </div>
    <div class="text-section">
      {% comment %} <video src="news-video1.mp4" controls></video> {% endcomment %}
      <iframe src="https://www.youtube.com/embed/_m1x5JaC37E" style = "height: 50%" controls></iframe>
       
      <p>Efforts have been made to address these issues. In 2014, the IOC introduced the Olympic Agenda 2020, a set of reforms aimed at reducing the cost of hosting and making the games more sustainable. The reforms encourage cities to utilize existing facilities and infrastructure whenever possible, share the hosting responsibilities with neighboring regions or countries, and prioritize long-term planning and legacy considerations. Overall, the cost of hosting the Olympics remains a topic of debate, with considerations of financial viability, legacy, and the long-term impact on host cities and countries.</p>
    </div>
      
  </div>
  <div class="container-a">
    
    <div class="text-section">
      <iframe style = "height: 100%" src="https://www.youtube.com/embed/zWU0c9yNf4k" frameborder="0" allowfullscreen></iframe>
       </div>

    <div class="text-section">
      <h3 style = "text-align: left; font-family: cursive;">Ancient Olympics</h3>
      <p style = "margin-top: 5px;">The ancient Olympics were held in Olympia, Greece, starting in 776 BCE. They were part of a religious festival dedicated to the god Zeus. The games featured sports like running, jumping, discus, javelin, wrestling, and chariot races. Participation was limited to free-born Greek men, and the games continued for nearly 12 centuries until they were abolished in 393 CE.</p>
      <h3 style = "text-align: left; font-family: cursive;">Modern Olympics</h3>
      <p style = "margin-top: 5px;">The modern Olympic Games were revived thanks to the efforts of Pierre de Coubertin, a French educator. The International Olympic Committee (IOC) was established in 1894, and the first modern Olympics took place in Athens, Greece, in 1896. The games included 280 athletes from 13 countries competing in 43 events.</p>
      <h3 style = "text-align: left; font-family: cursive;">Olympic Symbol</h3>
      <p style = "margin-top: 5px;">The Olympics are symbolized by the five interlocking rings of different colors, representing the unity of nations through sport. The Olympic torch is lit in Olympia and carried by relay to the host city, where it ignites the Olympic cauldron during the opening ceremony. The Olympic motto, "Citius, Altius, Fortius," meaning "Faster, Higher, Stronger" in Latin, reflects the pursuit of excellence.</p>
      
    </div>

      
  </div>
  <div class="container-a">
     <div class="text-section">
      <p style = "margin-top: 5px;">The Olympics serve as a powerful symbol of unity, bringing together athletes from diverse nations, cultures, and backgrounds. Regardless of geopolitical tensions or differences, the Games provide a platform for peaceful competition, fostering mutual respect and understanding. The Olympic Rings, representing the continents of the world, epitomize this spirit of unity, as athletes join together to showcase the best of human achievement.</p>
      <p style = "margin-top: 5px;">The Olympic Games are synonymous with athletic excellence and the pursuit of human potential. Athletes dedicate years of their lives to training, pushing the boundaries of physical and mental capabilities. The Games inspire generations of athletes to dream big, set goals, and strive for greatness. Through their remarkable performances, Olympic athletes become role models, embodying values such as determination, perseverance, and sportsmanship.</p>
      <p style = "margin-top: 5px;">Hosting the Olympics offers host cities a chance to create a lasting legacy. The development of world-class sporting facilities, transportation networks, and urban infrastructure enhances the city's attractiveness long after the Games have ended. Olympic venues can be repurposed for other sporting events or converted into cultural centers, schools, or community spaces, benefiting the local population for years to come. Moreover, hosting the Olympics instills a sense of pride and unity within the host city, leaving an intangible legacy that resonates with residents.</p>
    </div>
       
    <div class="text-section">
      <iframe style = "height: 100%" src="https://www.youtube.com/embed/6WQZ2f_5FV8" frameborder="0" allowfullscreen></iframe>
       </div>
         
  </div>
  <div class="container-a">
    
    <div class="text-section" style = "background-color: rgba(48, 77, 155, 0.597);">
      <p style = "margin-top: 5px;">The Olympics serve as a powerful symbol of unity, bringing together athletes from diverse nations, cultures, and backgrounds. Regardless of geopolitical tensions or differences, the Games provide a platform for peaceful competition, fostering mutual respect and understanding. The Olympic Rings, representing the continents of the world, epitomize this spirit of unity, as athletes join together to showcase the best of human achievement.</p>
      <p style = "margin-top: 5px;">The Olympic Games are synonymous with athletic excellence and the pursuit of human potential. Athletes dedicate years of their lives to training, pushing the boundaries of physical and mental capabilities. The Games inspire generations of athletes to dream big, set goals, and strive for greatness. Through their remarkable performances, Olympic athletes become role models, embodying values such as determination, perseverance, and sportsmanship.</p>
      <p style = "margin-top: 5px;">Hosting the Olympics offers host cities a chance to create a lasting legacy. The development of world-class sporting facilities, transportation networks, and urban infrastructure enhances the city's attractiveness long after the Games have ended. Olympic venues can be repurposed for other sporting events or converted into cultural centers, schools, or community spaces, benefiting the local population for years to come. Moreover, hosting the Olympics instills a sense of pride and unity within the host city, leaving an intangible legacy that resonates with residents.</p>
    </div>
         
  </div>
  

</div>
</body>


{% include 'html/footer.html' %}
