{% include 'html/header.html' %}
{% load static%}
<title>About Carla Anthony</title>
<link rel="stylesheet" href="{% static 'css/CA.css' %}?v=1.2">
<div class="container1">
  <div class="row"> 
    
     
    <div class="col-sm-4">
        <img src="{% static 'images/ca.jpg' %}" alt="group" class="img1">
      </div>
      <div class="col-sm-8">
      <h1 class="ha">Carmelo Anthony</h1>
      <p class="p">Born: May 29, 1984 (age 39 years), Brooklyn, New York, United States</p>
      <p class="p">NBA draft: 2003 (Round: 1 / Pick: 3)</p>
      <p class="p">Dates joined: 2021 (Los Angeles Lakers)</p>
      <p class="p">Bronze medal: Basketball at the 2004 Summer Olympics – Men's tournament</p>
      <p class="p">Gold medals: Basketball at the 2012 Summer Olympics – Men's tournament</p>
      <p class="p">Teammates: LeBron James, Kobe Bryant, Dwyane Wade</p>
      <p class="p">Organization founded: Krossover Entertainment</p>
      </div>
  </div>
  
  <div class="row">
    <div class="col-sm-8">
      <h2 class="h">History</h2>
      <p class="p">Carmelo Anthony gained prominence as a high school basketball player at Oak Hill Academy. He then attended Syracuse University for one season, leading the team to a national championship in 2003. After his successful college career, Anthony declared for the NBA Draft and was selected as the third overall pick by the Denver Nuggets in 2003.</p>
      <p class="p">During his time with the Nuggets, Anthony established himself as one of the league's premier scorers. He spent eight seasons with Denver, earning multiple All-Star selections and leading the team to the playoffs on numerous occasions. In 2011, he was traded to the New York Knicks, where he continued to excel and became a fan favorite.</p>
      <p class="p">Throughout his career, Carmelo Anthony has achieved numerous accolades, including being a ten-time NBA All-Star and winning an Olympic gold medal with the United States national team in 2008, 2012, and 2016. He is widely regarded as one of the most talented and skilled offensive players in NBA history, known for his scoring ability, especially from mid-range and beyond the arc.</p>
      <p class="p">Off the court, Anthony has been involved in various philanthropic endeavors, including supporting education and community development programs. He has also been an advocate for social justice issues and has used his platform to raise awareness about inequality and racial injustice.</p>
    <p class="p">NBA Career Achievements: Throughout his NBA career, Carmelo Anthony has achieved significant milestones and accolades. He has been named to the All-NBA Team six times, including two selections to the All-NBA Second Team and four selections to the All-NBA Third Team. Anthony has also won the NBA scoring title once, leading the league in scoring during the 2012-2013 season with an average of 28.7 points per game.

        International Success: In addition to his success in the NBA, Anthony has had a successful international career representing the United States. He has won three Olympic gold medals, becoming one of the most decorated basketball players in Olympic history. Anthony's international achievements also include winning a bronze medal at the FIBA World Championship in 2006.
        
        Scoring Ability: Carmelo Anthony is renowned for his scoring ability and versatility on offense. Throughout his career, he has displayed a wide array of offensive skills, including a lethal mid-range jump shot, a quick release, and the ability to score in isolation situations. Anthony has averaged over 20 points per game for the majority of his NBA career, establishing himself as one of the most consistent and potent scorers in the league.
        
        Style of Play: Anthony is known for his smooth and fluid style of play. He has a polished offensive game and is capable of scoring from anywhere on the court. While his scoring prowess is his primary strength, Anthony is also a capable rebounder and can contribute as a playmaker.
        
        Team Contributions: Throughout his career, Carmelo Anthony has been a key contributor to his teams' success. He has led his teams to multiple playoff appearances and has been instrumental in advancing deep into the postseason. Anthony's scoring ability and leadership on the court have made him a valuable asset for his teams.
        
        Off-court Persona: Off the court, Anthony is known for his fashionable style and has been recognized as one of the best-dressed athletes. He has also been involved in various philanthropic endeavors, including the Carmelo Anthony Foundation, which aims to positively impact the lives of underprivileged youth.</p>
    </div>
   

      <div class="col-sm-4">
        <img src="https://upload.wikimedia.org/wikipedia/commons/e/ee/Carmelo_Anthony_-_51958670372_%28cropped%29.jpg" alt="ca" class="img3">
      </div>
  </div>
  
  <div class="row">

    <div class="col-sm-6">
        <img src="https://i.redd.it/lxo8ya56zk731.jpg" alt="logo" class="img2">
      
      </div>
    <div class="col-sm-6">
        <table>
            <tr>
              <th></th>
              <th>Regular Season</th>
              <th>Playoffs</th>
            </tr>
            <tr>
              <td>Games Played</td>
              <td>1,198</td>
              <td>106</td>
            </tr>
            <tr>
              <td>Points</td>
              <td>28,490</td>
              <td>2,489</td>
            </tr>
            <tr>
              <td>PPG</td>
              <td>23.97</td>
              <td>23.48</td>
            </tr>
            <tr>
              <td>FG%</td>
              <td>44.7%</td>
              <td>40.5%</td>
            </tr>
            <tr>
              <td>3P%</td>
              <td>34.5%</td>
              <td>33.8%</td>
            </tr>
            <tr>
              <td>FT%</td>
              <td>81.1%</td>
              <td>81.0%</td>
            </tr>
            <tr>
              <td>Rebounds</td>
              <td>7,665</td>
              <td>794</td>
            </tr>
            <tr>
              <td>RPG</td>
              <td>6.4</td>
              <td>7.5</td>
            </tr>
            <tr>
              <td>Assists</td>
              <td>3,687</td>
              <td>294</td>
            </tr>
            <tr>
              <td>APG</td>
              <td>3.0</td>
              <td>2.8</td>
            </tr>
            <tr>
              <td>Steals</td>
              <td>970</td>
              <td>97</td>
            </tr>
            <tr>
              <td>SPG</td>
              <td>0.8</td>
              <td>0.9</td>
            </tr>
            <tr>
              <td>Blocks</td>
              <td>586</td>
              <td>52</td>
            </tr>
            <tr>
              <td>BPG</td>
              <td>0.5</td>
              <td>0.5</td>
            </tr>
          </table>
      
      </div> 
  </div>
</div>
{% include 'html/footer.html'%}
