{% comment %} {% load static %}

<link rel="stylesheet" href="{% static 'css/profile.css' %}?v=1.0">

{% include 'html/header.html' %}
<h2>Change Password</h2>
<form id = "change-passwords" action="/change-passwords" method="POST">
  {% csrf_token %}
  <input type="password" id="current-password" name="current_password" placeholder="Current Password" required>
  <input type="password" id="new-password" name="new_password" placeholder="New Password" required>
  <input type="password" id="confirm-password" name="confirm_password" placeholder="Confirm Password" required>
  <button type="submit">Change Password</button>
</form>
  {% include 'html/footer.html' %} {% endcomment %}

  {% load static %}

<link rel="stylesheet" href="{% static 'css/profile.css' %}?v=1.0">

{% include 'html/header.html' %}
<h2>Change Password</h2>
<form id="change-passwords" action="/change-passwords" method="POST">
  {% csrf_token %}
  <input type="password" id="current-password" name="current_password" placeholder="Current Password" required>
  <input type="password" id="new-password" name="new_password" placeholder="New Password" required>
  <input type="password" id="confirm-password" name="confirm_password" placeholder="Confirm Password" required>
  <div class="password-toggle">
    <input type="checkbox" id="show-password" onclick="togglePasswordVisibility()">
    <label for="show-password">Show Password</label>
  </div>
  <button type="submit">Change Password</button>
</form>
{% include 'html/footer.html' %}

<script>
  function togglePasswordVisibility() {
    var currentPasswordInput = document.getElementById("current-password");
    var newPasswordInput = document.getElementById("new-password");
    var confirmPasswordInput = document.getElementById("confirm-password");

    if (currentPasswordInput.type === "password") {
      currentPasswordInput.type = "text";
    } else {
      currentPasswordInput.type = "password";
    }

    if (newPasswordInput.type === "password") {
      newPasswordInput.type = "text";
    } else {
      newPasswordInput.type = "password";
    }

    if (confirmPasswordInput.type === "password") {
      confirmPasswordInput.type = "text";
    } else {
      confirmPasswordInput.type = "password";
    }
  }
</script>
