 {% include 'html/header.html' %}
 {% load static%}
<link rel="stylesheet" href="{% static 'css/index.css'%}?v=3.0">
<div class="container2">
<div class = "home-slider">
    <h3 style= "margin: 8px;"> <span>
      {% load static %}
{% if user.is_authenticated%}
      {% load static %}
      <img src="{% static 'images/fun-olympic.png' %}" style = "width: 30px; align-items: center;">
      </span>Welcome to Fun Olympics!!<span>
        {% load static %}
        <img src="{% static 'images/fun-olympic.png' %}" style = "width: 30px; align-items: center;">
        </span>
{% else %}
      {% load static %}
      <img src="{% static 'images/fun-olympic.png' %}" style = "width: 30px; align-items: center;">
      </span>Welcome to Fun Olympics!! Please Login to the funolympics portal to view live matches, recent matches and gain other priviledges<span>
        {% load static %}
        <img src="{% static 'images/fun-olympic.png' %}" style = "width: 30px; align-items: center;">
        </span>
      </h3>
   {%endif%}
</div> 
    <div class="carousel">
        {% load static%}
        <img src="{% static 'images/basketball.jpg' %}"alt="Basketball">
        {% load static%}
        <img src= "{% static 'images/run.jpg' %}" alt="Running">
        {% load static%}
        <img src="{% static 'images/stick.jpg' %}"alt="Basketball">
    </div> 

    
    <div class = "home-divider">
        <h2 style= "margin: 30px; color: black;">Featured Stories</h2>
    </div>
    
    <div class="image-section">
        <div class="image-container">
            {% load static%}
            <img src= "{% static 'images/swim.jpg' %}" alt="Running">
   
            <h3>Caeleb Dressel: A new face of the United States' men's swimming team.</h3>
            <p>In the 2016 Rio Olympics, he swam alongside Michael Phelps in the 4x100 meter freestyle relay and the 4x100 medley relay to win his first two gold medals on the world stage.</p>
        </div>

        <div class="image-container">
            {% load static%}
            <img src= "{% static 'images/gym.jpg' %}" alt="Running">
   
            <h3>Russian Olympic Committee wins gold</h3>
            <p>The Russian Olympic Committee (ROC) won a dramatic women’s team gymnastic final to take the gold medal. After four rotations, the ROC’s Vladislava Urazova achieved a total score of 169.528 points</p>
        </div>

        <div class="image-container">
            {% load static%}
            <img src= "{% static 'images/skate.jpg' %}" alt="Running">
   
            <h3>Olympic Figure Skating: Canada Wins Team Gold</h3>
            <p>Patrick Chan placed first in the men’s free skate, and the ice dancing superstars Scott Moir and Tessa Virtue won the free dance to give Canada the comfortable victory.</p>
        </div>
        
        <div class="image-container">
            {% load static%}
            <img src= "{% static 'images/box.jpg' %}" alt="Running">
   
            <h3>Boxing-Ireland's Walker ready to 'beat the best'</h3>
            <p>Ireland's Kurt Walker overcame a cut over his right eye and a patchy second round to clinch a unanimous decision in featherweight Olympic boxing on Saturday</p>
        </div>
        
    </div>
    <div class="content-a">
      
      <div class="container-a">
      
        <div class="image-section">
          {% load static%}
          <img src="{% static 'images/effort.jpg' %}" alt="group" class="img1">
          <p style = "margin-top: 10px">Cost Overruns: One common concern with hosting the Olympics is the tendency for costs to exceed initial projections. Several past Olympic Games have experienced significant cost overruns, leading to financial challenges for the host cities and countries. Factors contributing to these overruns include construction delays, increased security expenses, and infrastructure upgrades.</p>
        </div>
        <div class="text-section">
          <h3 style = "margin-bottom: 10px">Cost of hosting Olympics</h3>
          <p>Hosting the Olympic Games can be an expensive endeavor for the host city and country. The costs associated with hosting include building or renovating sports facilities, constructing Olympic villages, improving transportation infrastructure, enhancing security measures, and organizing cultural events. These expenses can add up significantly, often running into billions of dollars.</p>
          <p>Due to these concerns, potential host cities have become more cautious, and there have been instances of cities withdrawing their bids or facing public opposition to hosting the games. For instance, in 2021, Calgary, Canada, voted against bidding for the 2026 Winter Olympics after concerns were raised about the potential financial risks.</p>
          <p>In recent years, there has been growing concern and debate over the financial implications of hosting the Olympics. Some critics argue that the cost of hosting outweighs the long-term benefits and can result in economic burdens for the host city. They point to examples like the 2014 Winter Olympics in Sochi, Russia, and the 2016 Summer Olympics in Rio de Janeiro, Brazil, where the costs exceeded initial estimates and left behind underutilized or abandoned facilities.</p>
            
        </div>
        <div class="text-section">
          {% comment %} <video src="news-video1.mp4" controls></video> {% endcomment %}
          <iframe src="https://www.youtube.com/embed/_m1x5JaC37E" style = "height: 50%; width: 100%; border-radius: 3%" controls></iframe>
           
          <p style = "margin-top: 10px">Efforts have been made to address these issues. In 2014, the IOC introduced the Olympic Agenda 2020, a set of reforms aimed at reducing the cost of hosting and making the games more sustainable. The reforms encourage cities to utilize existing facilities and infrastructure whenever possible, share the hosting responsibilities with neighboring regions or countries, and prioritize long-term planning and legacy considerations. Overall, the cost of hosting the Olympics remains a topic of debate, with considerations of financial viability, legacy, and the long-term impact on host cities and countries.</p>
          <a href = "/blog" style = "color: black">View Blog</a>       
        </div>
          
      </div>
    </div>
    {% comment %} <div class="video-section">

            {% load static%}
            <video src="{% static 'video/Basketball.mp4' %}" autoplay muted></video>
        
            {% load static%}
            <video src="{% static 'video/Volleyball.mp4' %}" autoplay muted></video>

    </div> {% endcomment %}
    <div class="home-divider">
      <div id="live-scores">
        <h2 style="margin: 30px;">Live Scores</h2>
      </div>
      <div id="notification-icon">
        <i class="fa fa-bell"></i>
        <span id="notification-count"></span>
      </div>
      
    </div>
    
    
    <div id="notification-dialog" class="hidden">
      <h2>Reminder</h2>
      <p>There are live games available!</p>
      <button id="close-btn">Close</button>
    </div>


    <div class="live-scores-container">
        <div class="live-scores">
            <h3 style = "color: white">Men's Olympic Football Tournament Yokyo 2023</h3>
            <ul>
              <li><span class="team"> {% load static%}
                <img src= "https://img.freepik.com/free-vector/illustration-south-korea-flag_53876-27132.jpg" alt="S.korea" style= "width: 170px; padding: 40px"></span> <span class="team-vs">{% load static%}
                    <img src="{% static 'images/vs.png' %}" alt="vs" style= "width: 100px;"></span> <span class="team"><img src= "https://cdn.freebiesupply.com/logos/large/2x/united-states-flag-logo-png-transparent.png" alt="USA" style= "width: 145px; padding: 40px"></span></li>
              <li><span class="score" style= "margin-right: 150px">S.Korea: 7 </span><span class="score"  style= "margin-left: 150px">USA: 2 </span></li>
            </ul>
          </div>
          
          <div class="live-scores">
            <h3 style = "color: white">Women's Olympic Volley Tournament Yokyo 2023</h3>
            <ul>
                <li><span class="team"> {% load static%}
                    <img src= "https://cdn.britannica.com/47/6847-004-7D668BB0/Flag-Brazil.jpg" alt="S.korea" style= "width: 150px; padding: 40px"></span> <span class="team-vs">{% load static%}
                        <img src="{% static 'images/vs.png' %}" alt="Team" style= "width: 100px;"></span> <span class="team"><img src= "https://upload.wikimedia.org/wikipedia/commons/thumb/1/17/Flag_of_Mexico.png/1200px-Flag_of_Mexico.png" alt="S.korea" style= "width: 150px; padding: 40px"></span></li>
                <li><span class="score" style= "margin-right: 150px">Brazil: 3</span><span class="score"  style= "margin-left: 150px">Spain: 1 </span></li>
            </ul>
          </div>
          
      </div>
      <div class = "home-divider">
        <h2 style= "margin: 30px;">Game Schedule</h2>
    </div>
      
      <div class="schedule">
    <div class = "options">
    <button onclick="showAllGames()">All Games</button>
    <button onclick="showRegularDayGames()">Regular Day Games</button>
    <button onclick="showSemiFinalGames()">Semi Final Games</button>
    <button onclick="showFinalGames()">Final Games</button>
    <button><a href = "/schedule" style = "color: white;">See More..</a></button>

   </div>
   <div class="game-container">
   <table id="game-table">
    <thead>
      <tr>
        <th>Time</th>
        <th>Sunday</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>9:00 AM</td>
        <td class="regular">Alpine Skiing</td>
        <td></td>
        <td class="regular">Artistic Swimming</td>
        <td></td>
        <td class="regular">Sailing</td>   
        <td></td>
        <td class="semi-final">Baseball Softball</td>
      </tr>
      <tr>
        <td>10:30 AM</td>
        <td></td>
        <td class="regular">200m Freestyle</td>
        <td></td>
        <td class="regular">200m Freestyle</td>
        <td></td>
        <td class="final">Beach Volleyball</td>
        <td></td>
      </tr>
      <tr>
        <td>11:30 AM</td>
        <td class="final">Water Polo</td>
        <td></td>
        <td class="semi-final">High Jump</td>
        <td></td>
        <td class="semi-final">High Jump</td>
        <td></td>
        <td class="regular">200m Freestyle</td>
      </tr>
      <tr>
        <td>2:00 PM</td>
        <td class="semi-final">High Jump</td>
        <td></td>
        <td class="final">Water Polo</td>
        <td></td>
        <td class="final">Water Polo</td>
        <td></td>
        <td class="semi-final">200m Freestyle</td>
      </tr>
      <tr>
        <td>3:30 PM</td>
        <td></td>
        <td class="semi-final">Baseball Softball</td>
        <td></td>
        <td class="regular">Beach Volleyball</td>
        <td></td>
        <td class="regular">200m Freestyle</td>
        <td></td>
      </tr>
      <!-- Add more rows for other dates and games -->
    </tbody>
  </table>

  {% load static %}

  {% if user.is_authenticated %}

  <table class= "table2">
    <tr>
      <th>Game</th>
      <th>Location</th>
      <th>Watch Later</th>
    </tr>
    <tr>
      <td>Alpine Skiing</td>
      <td>Aspen, Colorado</td>
      <td class="watch-later">
        <select id="alpine-skiing" name="alpine-skiing">
          <option value="" selected disabled>Select</option>
          <option value="add">Add</option>
          <option value="remove">Remove</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>Artistic Swimming</td>
      <td>Tokyo Aquatics Centre</td>
      <td class="watch-later">
        <select id="artistic-swimming" name="artistic-swimming">
          <option value="" selected disabled>Select</option>
          <option value="add">Add</option>
          <option value="remove">Remove</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>Sailing</td>
      <td>Enoshima Yacht Harbor</td>
      <td class="watch-later">
        <select id="sailing" name="sailing">
          <option value="" selected disabled>Select</option>
          <option value="add">Add</option>
          <option value="remove">Remove</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>Baseball Softball</td>
      <td>Yokohama Baseball Stadium</td>
      <td class="watch-later">
        <select id="baseball-softball" name="baseball-softball">
          <option value="" selected disabled>Select</option>
          <option value="add">Add</option>
          <option value="remove">Remove</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>200m Freestyle</td>
      <td>Aquatics Centre</td>
      <td class="watch-later">
        <select id="200m-freestyle" name="200m-freestyle">
          <option value="" selected disabled>Select</option>
          <option value="add">Add</option>
          <option value="remove">Remove</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>Beach Volleyball</td>
      <td>Shiokaze Park</td>
      <td class="watch-later">
        <select id="beach-volleyball" name="beach-volleyball">
          <option value="" selected disabled>Select</option>
          <option value="add">Add</option>
          <option value="remove">Remove</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>Water Polo</td>
      <td>Tatsumi Water Polo Centre</td>
      <td class="watch-later">
        <select id="water-polo" name="water-polo">
          <option value="" selected disabled>Select</option>
          <option value="add">Add</option>
          <option value="remove">Remove</option>
        </select>
      </td>
    </tr>

  </table>
  {% else %}
    <div class="table2" style = "background-color: #bcb6f19b;">
      <h4 style = "text-align: center; margin-top: 30%;">Please log in to Add Games to Watch Later.</h4>
      <a href="loginn"><button id="login-btn" style = "font-weight: bolder; margin-left: 170px; margin-top: 40px; cursor: pointer; padding: 4px;  background: radial-gradient(circle, rgb(20, 159, 224) 0%, rgb(49, 92, 224) 100%);
        ">Click here to login</button></a>
    </div>
  {% endif %}

</div>
  
      </div>

      <div class = "home-divider">
        <h2 style= "margin: 30px;">Live Games</h2>
    </div>
      <div class = "live-contain">
        <div id="live-game-widget">
        
         <div id="live-game-preview"></div>
        <h3>The 2023 Olympic Women's Volleyball Tournament</h3>
        <a href="/live" id="view-live-btn" style = "margin-top: 20px">View Live</a>
        <button class="icon-button added-to-wishlist" onclick="addToWishlist(this)"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to wishlist</button>

      </div>
      <div id="live-game-widget">
        <div id="live-game-preview2"></div>
        <h3>The 2023 Olympic Men's Football Match</h3>
        <a href="/live" id="view-live-btn" style = "margin-top: 20px">View Live</a>
        <button class="icon-button added-to-wishlist" onclick="addToWishlist(this)"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to wishlist</button>
          
        <div class="wishlist-dialog" style="display: none;">
          <div class="wishlist-dialog-content">
            {% if user.is_authenticated %}
            <h3>Added to Wishlist!</h3>
            <p>Item has been successfully added to your wishlist.</p>
            <a href="wishlist" class = "my-button"><i class="fa fa-cart-plus" aria-hidden="true">  View Wishlist</i></a>
            <button class="close-button2" onclick="closeWishlistDialog()"><i class="fa fa-window-close" aria-hidden="true"></i></button>
            {% else %}
            
        {% load static %}
        <img src="{% static 'images/fun-olympic.png' %}" style = "width: 50px; align-items: center;">
            <h2>Login Required!</h2>
              <p>Please login to access and enjoy matches and live games.</p>
              <a href = "loginn">Click here to Login</a>
            <button class="close-button2" onclick="closeWishlistDialog()"><i class="fa fa-window-close" aria-hidden="true"></i></button>
            
            {%endif%}
          </div>
        </div>


      </div>

    </div>

    <div class = "home-divider">
      <h2 style= "margin: 30px;">Meet Our Team</h2>
  </div>
  
    <div class="carousel2">
      <div class="carousel-container">
        <div class="carousel-item active">
          <img src="https://images.pexels.com/photos/1222271/pexels-photo-1222271.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Team Member A">
          <p class="name">- John Smith (Executive Director)</p>
          <p class="message">"Bringing the Olympic magic to your screens is a privilege we cherish. As a team, we are dedicated to celebrating the triumphs of athletes and inspiring the world together. Through our broadcasts, we aim to capture the essence of the Olympic Games and share the unforgettable moments that resonate with the global audience. Join us in experiencing the joy, determination, and remarkable achievements of athletes as we unite in the spirit of sporting excellence."</p>
        </div>
        <div class="carousel-item">
          <img src="https://images.pexels.com/photos/774909/pexels-photo-774909.jpeg?cs=srgb&dl=pexels-andrea-piacquadio-774909.jpg&fm=jpg" alt="Team Member B">
          <p class="name">- Sarah Johnson (Executive Producer)</p>
          <p class="message">"As a proud member of this amazing team, I am deeply honored to be entrusted with the task of capturing and sharing the passion of the Olympic Games with you. It is an extraordinary privilege to witness firsthand the dedication, sacrifice, and unwavering commitment displayed by athletes from around the world. Together, let us delve into the depths of emotions, celebrate the triumphs, and embrace the transformative power of sports. Thank you for allowing us to bring you the remarkable stories that unfold on the grandest stage of the Olympics."</p>
        </div>
        <div class="carousel-item">
          <img src="https://images.pexels.com/photos/614810/pexels-photo-614810.jpeg?auto=compress&cs=tinysrgb&w=600" alt="Team Member C">
          <p class="name">- Michael Lee (Analysts)</p>
          <p class="message">"The Olympic Games embody the true spirit of sportsmanship, where the dedication of athletes converges with the unwavering support of fans. It is an absolute joy to be a part of this incredible journey, where dreams are pursued, records are shattered, and the human spirit shines brightest. The Olympics are a testament to the power of unity, resilience, and the pursuit of excellence. As a team, we are grateful for the opportunity to witness and share the indomitable spirit of athletes who inspire us all."</p>
        </div>
        <div class="carousel-item">
          <img src="https://images.pexels.com/photos/712513/pexels-photo-712513.jpeg?auto=compress&cs=tinysrgb&w=600" alt="Team Member D">
          <p class="name">- Emily Rodriguez (Social Media Manager)</p>
          <p class="message">"Behind the scenes, we work tirelessly to ensure that you feel the energy and excitement of the Olympic Games from the comfort of your home. Our commitment lies in creating a seamless experience that transports you to the heart of the action, allowing you to immerse yourself in the beauty of athletic prowess and the thrill of competition. With dedication and meticulous attention to detail, we bring you every captivating moment, every nerve-wracking finish, and every elation-filled victory. Sit back, relax, and enjoy the show as we strive to make the Olympic Games come alive for you."</p>
        </div>
        <div class="carousel-item">
          <img src="https://images.pexels.com/photos/91227/pexels-photo-91227.jpeg?auto=compress&cs=tinysrgb&w=600" alt="Team Member E">
          <p class="name">- Daniel Thompson (Content Writer)</p>
          <p class="message">"Being able to witness and broadcast the Olympic Games is a dream come true for our team. It is an extraordinary adventure that we embark on together with you, the passionate fans. We feel privileged to bring you the unparalleled joy, breathtaking performances, and inspiring stories that unfold during the Olympics. It is through these shared experiences that we unite as a global community, bound by our love for sports and our admiration for the incredible athletes who redefine the limits of human potential. Thank you for joining us on this remarkable journey."</p>
        </div>
        <div class="carousel-item">
          <img src="https://images.pexels.com/photos/3841338/pexels-photo-3841338.jpeg?auto=compress&cs=tinysrgb&w=400" alt="Team Member F">
          <p class="name">- Jessica Wang (Video Editor)</p>
          <p class="message">"The Olympics have a remarkable ability to unite the world through the love of sports. As a member of this dedicated team, it is both an honor and a responsibility to contribute to this incredible event. We take pride in our role of bringing people together, transcending borders, cultures, and differences through the power of the Olympic Games. By sharing the stories, emotions, and achievements of athletes, we aim to foster understanding, respect, and celebration of diversity. Together, let us embrace the spirit of unity and celebrate the shared values that make the Olympics a truly extraordinary experience."</p>
        </div>
        <div class="carousel-item">
          <img src="https://images.pexels.com/photos/39866/entrepreneur-startup-start-up-man-39866.jpeg?auto=compress&cs=tinysrgb&w=400" alt="Team Member G">
          <p class="name">- Ryan Davis (Technical Support)</p>
                    <p class="message">"Capturing the raw emotions and incredible achievements of Olympic athletes is a privilege that we hold dear. Our mission is to bring you the best of the Games, crafting a narrative that showcases the dedication, passion, and extraordinary talent of these remarkable individuals. We are committed to delivering moments that leave you awe-inspired and moved. Through our lenses, we seek to immortalize the triumphs, the struggles, and the defining moments that shape the Olympic experience. Join us as we embark on this journey of inspiration, celebrating the remarkable feats of athletes who inspire us all."</p>
        </div>
        <div class="carousel-item">
          <img src="https://images.pexels.com/photos/718978/pexels-photo-718978.jpeg?auto=compress&cs=tinysrgb&w=400" alt="Team Member H">
          <p class="name">- Olivia Wilson (Visual Effects Specialist)</p>
                    <p class="message">"Every day, we strive to create an immersive viewing experience that transports you to the heart of the Olympic action. We want you to feel the adrenaline rush, the anticipation, and the sheer excitement that comes with witnessing the world's greatest sporting event. Our dedicated team works tirelessly to bring you the sights, the sounds, and the stories that make the Olympic Games an unparalleled spectacle. We are grateful for your trust and support as we aim to share the Olympic magic with you, allowing you to be a part of something extraordinary from the comfort of your own screen."</p>
        </div>

      </div>

    </div>
    <div>
      <button style = "display: block; margin-right: auto; margin-left:auto; padding: 8px 8px; margin-bottom: 5px;
      background: linear-gradient(90deg, rgb(47, 116, 220) 0%, rgb(73, 101, 201) 53%, rgb(41, 152, 158) 100%);"><a href = "/about" style = "color:white;">See More</a></button>


    </div>

    
</div>


{% load static %}
  <script src="{% static 'js/home.js' %}?v=2.9"></script>

{% include 'html/footer.html'%}

    

    {% comment %} <div class="image-section2">
        <div class="image-container2">
            {% load static%}
            <img src= "{% static 'images/point.png' %}" alt="point">
   
             </div>

        <div class="image-container2">
            {% load static%}
            <img src= "{% static 'images/schedule.jpg' %}" alt="schedule">
   
            </div>
    </div> {% endcomment %}
    
