{% load static%}
<link rel="stylesheet" href="{% static 'css/members.css' %}?v=1.7">
{% include 'html/header.html' %}
<title>Basketball Team Members</title>

 
<div class = "contain1">
    <h2>Meet the Basketball Players of team USA</h2>
    <div class="team-members-section">
        <div class="team-member">
            <a href="CA">
            {% load static%}
            <img src="https://cdn.nba.com/headshots/nba/latest/1040x760/2546.png" alt="Team">
            <h3>Carmello Anthony</h3>
            </a>
        </div>

        <div class="team-member">
            
            {% load static%}
            <img src="https://cdn.nba.com/headshots/nba/latest/1040x760/203084.png" alt="Team">
            <h3>Harrison Barnes</h3>
            
        </div>

        <div class="team-member">
            {% load static%}
            <img src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/6430.png" alt="Team">
            <h3>Jimmy Butler</h3>
        </div>

        <div class="team-member">
            {% load static%}
            <img src="https://cdn.nba.com/headshots/nba/latest/1040x760/202326.png" alt="Team">
            <h3>DeMarcus Cousins</h3>
        </div>
        <div class="team-member">
            {% load static%}
            <img src="https://cdn.nba.com/headshots/nba/latest/1040x760/201142.png" alt="Team">
            <h3>Kevin Durant</h3>
        </div>
        <div class="team-member">
            {% load static%}
            <img src="https://cdn.nba.com/headshots/nba/latest/1040x760/202331.png" alt="Team">
            <h3>Paul George</h3>
        </div>
        <div class="team-member">
            {% load static%}
            <img src="https://cdn.nba.com/headshots/nba/latest/1040x760/200768.png" alt="Team">
            <h3>Kyle Lowry</h3>
        </div> 
        <div class="team-member">
            {% load static%}
            <img src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/6475.png&w=350&h=254" alt="Team">
            <h3>Klay Thompson</h3>
        </div>
    </div>
</div>

{% include 'html/footer.html' %}
