{% include 'html/header.html' %}
{% load static%}
<link rel="stylesheet" href="{% static 'css/form.css' %}?v=1.7">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">


<title>Successful</title>
<body>
  <div class="contain2" 
  style = "padding: 200px; 
  margin: 800px;  
  margin-top: 100px;
  margin-bottom: 150px;
  margin-right: 300px;
  margin-left: 300px;
  padding: 50px;
  background-color: rgba(18, 41, 219, 0.5);
  box-shadow: 0px 2px 5px rgba(11, 142, 236, 0.511);
  border-radius: 5px;
  ">
  {% load static %}
<a href="/"><img src="{% static 'images/fun-olympic.png' %}" alt="logo" style = "width: 80px; margin-left: auto; margin-right:auto; display: block;"></a>
    <h3 style = "text-align: center; color: white;">Congratulations! You have sucessfully Registered the account.</h3>
    <p style = "text-align: center; color: white;">We have sent you the verification code. Please verify your email.</p>
    
    <div class="login">
      <button id="login-btn" style = "font-weight: bolder; margin-top: 6px"><a href="loginn" style = "font-weight: bolder; margin-top: 6px">Click here to login</a></button>
    </div>
  </div>

  {% load static %}
  <script src="{% static 'js/script.js' %}?v=1.2"></script>
</body>

{% include 'html/footer.html'%}
